@import "./config.scss";

.contact {
    width: 100vw;
    height: 100vh;
    position: relative;
    @include flex(center, center, auto);
    .map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -2;
    }
    .overlay {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba($pink-400, 0.2), rgba($pink-900, 0.3));
    }
    .inner-container {
        padding: 2rem;
        border-radius: 5px;
        background: white;
        @include flex(center, center, 2rem);
        .left {
            width: 500px;
            @include flex(start, start, 1rem, column);
            .heading {
                font-size: 50px;
                width: 100%;
            }
            .social-container {
                @include flex(center, start, 1rem);
                width: 100%;
                a {
                    width: 70px;
                    height: 70px;
                    @include flex(center, center, auto);
                    background-color: transparent;
                    transition: 200ms;
                    border-radius: 50%;
                    i {
                        font-size: 35px;
                        color: $pink-900;
                        transition: 200ms;
                    }
                    &:hover {
                        background-color: $pink-900;
                        i {
                            color: $pink-100;
                        }
                    }
                }
            }
            .external-links {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    padding: 1rem 0;
                    @include flex(center, start, 1.5rem);
                    i {
                        font-size: 30px;
                        color: $pink-900;
                    }
                    .content-container {
                        @include flex(start, start, 5px, column);
                        span {
                            font-size: 24px;
                        }
                        a {
                            color: $pink-900;
                        }
                    }
                }
            }
        }
        .right {
            width: 500px;
            form {
                @include flex(start, start, 1rem, column);
                .input {
                    width: 100%;
                }
                .action {
                    width: 100%;
                    text-align: right;
                    .send {
                        color: $pink-900;
                        border-color: $pink-900;
                        &:hover {
                            background-color: rgba($pink-50, 0.7);
                        }
                    }
                }
            }
        }
    }
    @include media(max, 1120px) {
        .inner-container {
            .left,
            .right {
                width: auto;
            }
            .right {
                form {
                    width: 400px;
                }
            }
        }
    }
    @include media(max, 850px) {
        height: auto;
        padding: 2rem;
        .map,
        .overlay {
            height: 100%;
        }
        .inner-container {
            flex-direction: column;
        }
    }
    @include media(max, 485px) {
        .inner-container {
            padding: 1rem;
            .right form {
                width: 300px;
            }
        }
    }
    @include media(max, 375px) {
        .inner-container {
            padding: 1rem 7px;
            min-width: 300px;
            // width: 100%;
            .left {
                .heading {
                    font-size: 35px;
                    text-align: center;
                    width: 100%;
                    display: block;
                }
                .social-container {
                    gap: 5px;
                    justify-content: center;
                    a {
                        width: 40px;
                        height: 40px;
                        i {
                            font-size: 25px;
                        }
                    }
                }
            }
            .right form {
                width: 250px;
            }
        }
    }
}
